:root {
    --btn-color: rgb(154, 218, 220);
}

.container {
    background-color: rgb(147, 185, 218);
    width: 350px;
    height: 480px;
    border-radius: 10px;
}

.all_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.result_wrap {
    width: 300px;
    height: 70px;
    background-color: var(--btn-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.result,
.selected_num {
    width: 290px;
    height: 20px;
    margin-top: 10px;
    text-align: right;
}

.result {
    color: gray;
    font-size: 15px;
}

.selected_num {
    font-size: 25px;
}

.btn_row {
    display: flex;
    /* flex-direction: row; */
}

.btn {
    border: none;
    border-radius: 15px;
    background-color: var(--btn-color);
    box-shadow: 2px 2px 2px gray;
    width: 60px;
    height: 60px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(142, 200, 202);
}